<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intercomAppId</key>
	<string>ck7hmg8t</string>
	<key>intercomApiKey</key>
	<string>ios_sdk-daf960e3510806bb9c97ed5dcaedc96b5c906633</string>
</dict>
</plist>
